* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 12rem;
    height: 6rem;
    margin: 1rem 1rem;
  }

  ul {
    display: flex;
    cursor: pointer;
    gap: 1.5rem;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 5rem;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000000;

      &:hover {
        color: #cf30b5;
        transition: 0, 3s;
      }
    }
  }
}

.btn_menu {
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  margin-right: 4rem;
  display: none;
}

@media (max-width: 768px) {
  .btn_menu {
    display: block;
  }

  .menu {
    // position: absolute;
    // top: 0;
    // background-color: #ffffff;
    // height: 100%;
    // width: 40vw;
    // padding: 1rem;
    // animation-duration: 1s;
    display: none;

    ul {
      // flex-direction: column;
      // padding: 0;
      // margin-top: 1rem;
    }
  }

  .mostrar {
    display: flex;
    width: 50%;
    height: auto;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #ffffff;
    border: solid;
  }
}
